<!DOCTYPE html>
<html>
<head>
  <title>R4r1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>                
<!-- NB that we set the body class dynamically so we can "namespace" our CSS. -->
<body class="controller-<%= params[:controller] %>">   

<%= yield %>

</body>
</html>
